h3 {  
        width: 400pt; 
        height:3cm;  
        border: double; gray; 
        background: rgb(128,128,128); 
		font-size: 27;
		margin-left: 650px;
    }
	/* Zuzanna Król, 3F grupa 1 */